table {
  background-color: #DB7F67;
  width: 50%;
  table-layout: fixed;
  margin:auto;


}

tr {
  align: center;
}

#weather {
  /* background-color: #335C67; */
  width: auto;
}

html {
  background-color: #FFCAB1;

}

.data {
  align: left;

}

.sendButton {
  background-color: #335C67;
  color: white;
  float:right;
}
.dataTable {
  border: 1px solid black;

}
.empty {
  width: 20%;
}
.cc{
  text-align: center;
}
