table, th, td {
   border: 1px solid black;
    font-family: sans-serif;
    text-align: center;   
}

#h1{
    text-align: center;
    color: red;
}

#pisomka{
    margin: 0 auto;
}
.e {
    background-color:red;
}
.l {
    background-color:blue;
}