body {
  background-image: url("../lala3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

td {
  font-family: Arial;
}

#error {
  display: none;
}

#notifications {
  display: none;
}

#sendJokeCard, #sendMessageCard, #getJokeCard, #changePasswordCard, #getMessagesCard {
  display: none;
}

/* #Project {
    font-family: Arial;
    font-weight: 200;
    width: 400px;
    text-align: center;
   margin: 0 auto;
    font-size: 25px;
    /* background-color: lightgray; */
color: black;
}

*/
